# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example


# Build
dist/
build/
.next/
out/
uploads/

# Logs
*.log

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
